<?xml version="1.0" encoding="UTF-8"?>
<suite thread-count="1" verbose="1" name="NatwestAutomation Suite" annotations="JDK" parallel="tests">
  <test name="Test">
    <classes>
      <class name="com.example.NavigationTest"/>
      <class name="com.example.updatePersonalInfo"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
